* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F8F7FF;
}

main {
    height: 98vh;
}

.gameboard-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}


.gameboard {
    /* width: 400px;
    height: 400px; */
    display: grid;
    grid-template-columns: repeat(3, minmax(120px, 1fr));
    grid-template-rows: repeat(3, minmax(120px, 1fr));
    gap: 6px;
}

.cell {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4rem;
    background-color: red;
    border: 1px solid white;
    border-radius: 5px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;
    transition: scale 0.2s;
}

.cell:hover {
    scale: 0.95;
}

.hidden {
    display: none;
}

.info-container {
    display: flex;
    justify-content: center;
    margin-top: 15vh;
}

.player-info {
    /* padding: 32px 180px 180px;
    border: 2px solid gray;
    border-radius: 5px;
    background-color: snow; */
}

/* Input and button container */
.inputs-row {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

/* label and input */
.info-row {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

input {
    border-radius: 5px;
    border: 1px solid #450920;
    padding: 15px 20px 15px 10px;
    font-size: 1.3rem;
    background-color: transparent;
    color: #13315C;
}

input:focus {
    outline: none;
}

input::placeholder {
    color: #13315C;
}

.info-row>label {
    font-size: 1.3rem;
}

.submit-info {
    background: none;
    border: 1.5px solid gray;
    border-radius: 5px;
    width: 100px;
    margin: auto;
    padding: 10px 25px;
    font-size: 1.3rem;
    transition: all 0.2s;
}

.submit-info:hover {
    cursor: pointer;
    background-color: #13315C;
    color: white;
}