* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    height: 98vh;
}

.gameboard-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}


.gameboard {
    /* width: 400px;
    height: 400px; */
    display: grid;
    grid-template-columns: repeat(3, minmax(120px, 1fr));
    grid-template-rows: repeat(3, minmax(120px, 1fr));
    gap: 6px;
}

.cell {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4rem;
    background-color: red;
    border: 1px solid white;
    border-radius: 5px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;
    transition: scale 0.2s;
}

.cell-hover:hover {
    scale: 0.95;
}